html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  /* overflow: hidden; */
}

canvas {
  display: block;
}

.btn-container {
  display: flex;
  position: absolute;
  gap: 1rem;
}

button {
  display: block;
  background-color: greenyellow;
  border: none;
  font-size: 1.3rem;
  z-index: 1;
  padding: 0.5rem;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
